# Core Framework
numpy
fastapi
uvicorn[standard]
python-multipart
jinja2
# Database
sqlalchemy
alembic
psycopg2-binary

# Authentication & Security
python-jose[cryptography]
python-dotenv
bcrypt<4.0 
passlib==1.7.4
# Validation
pydantic
pydantic-settings
email-validator

# Testing
pytest
pytest-asyncio


# Development
black
flake8
mypy

# Date/Time
python-dateutil

# Payment Processing
requests
pypaystack2 == 3.1.0

# Email & Alerts (Module 6)
apscheduler
resend

# CSV/Excel
pandas
openpyxl

# PDF Generation
reportlab

pdfminer.six

itsdangerous